<template>
    <ul>
        <li>
            {{ comment.comment }}
            <ul v-for="replies in comment.replies">
                <li v-if="replies.parent_comment != null">
                    <ul  v-for="rep in replies.replies">
                        <li> {{ rep.comment }} </li>
                    </ul>
                </li>
                <li v-else>{{ replies.comment }}</li>
            </ul>
        </li>
    </ul>
</template>

<script>
export default {
    props: ['comment'],
    mounted() {
        console.log(this.$props);
        console.log('komentari mounted.')
    }
}
</script>
