<template>
    <nav class="navbar navbar-light bg-dark">
        <a class="navbar-brand text-light" href="#">
            Reddit
        </a>
    </nav>
</template>

<script>
export default {
    mounted() {
        console.log('Component mounted.')
    }
}
</script>
