<template>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card mb-2 " v-for="thread in threads">
                    <div class="card-header bg-info text-white">
                        <small>Posted by / {{ thread.user.name }}</small>
                    </div>
                    <div class="card-body" @click="open_thread(thread.id)">
                        <p>{{ thread.thread }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            threads: [],
        }
    },
    methods: {
        getThreads(){
            axios.get('/threads-list').then((response) => {
                this.threads = response.data;
                console.log(response);
            });
        },
        open_thread(id){
            this.$router.push({name:'Thread',params:{thread_id:{id}}});
        }
    },
    mounted() {
        this.getThreads();
    }
}
</script>
