<template>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card mb-2 ">
                    <div class="card-header bg-info text-white">
                        <small>Posted by / {{ user_name }}</small>
                    </div>
                    <div class="card-body">
                        <p>{{ thread.thread }}</p>
                        <hr>
                        <div class="col-sm-12">
                            <Comments v-for="comment in comments" v-bind:comment="comment" ></Comments>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Comments from './Comments';
export default {
    components: {Comments},
    data(){
        return {
            thread : "",
            user_name: "",
            comments: [],
        }
    },
    props: ['thread_id'],
    methods: {
        getThread(id){
            axios.get('/thread/show/'+id.id).then((response) => {
                this.thread = response.data
                this.user_name = this.thread.user.name;
                this.comments = this.thread.comments;
                console.log(this.thread.comments);
            });
        },
    },
    mounted() {
        this.thread_id = this.$route.params.thread_id;
        if(this.$route.params.thread_id != null){
            this.getThread(this.thread_id);
        }
    }
}
</script>
